<div class="container">

    <div class="row justify-content-center">
        <% @game.words.each do |word| %>
            <% if current_user == @game.player_one %>
                <div class="col-md-5ths word-card <%= word.color %>">
                    <p><%= word.content %></p>
                </div>
            <% else %>
                <div class="col-md-5ths word-card">
                    <p><%= word.content %></p>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="clue">
            </div>
        </div>
        <div class="col-6">
            <div class="chat">
            </div>
        </div>
    </div>
</div>