.word-card {
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
}

.red-to-guess {
    border: 2px solid red;
}

.blue-to-guess {
    border: 2px solid blue;
}
.white-to-guess {
    border: 2px solid white;
}
.black-to-guess {
    border: 2px solid black;
}

.red-revealed {
    background: red;
}

.blue-revealed {
    background: blue;
}

.white-revealed {
    background: white;
}

.black-revealed {
    background: black;
}