.word-card {
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
}

.red {
    border: 2px solid red;
}

.blue {
    border: 2px solid blue;
}
.white {
    border: 2px solid white;
}
.black {
    border: 2px solid black;
}