.chat-container {
    border: 1px solid $light-gray;
    border-radius: 5px;
    height: 200px;
    flex:1;
    background-color:white;
    overflow-y: scroll;
    padding-left: 8px;
    p {
        margin-bottom: 0;
    }
}

.player-one-true {
    color: $red;
}

.player-one-false {
    color: $blue;
}