#clues {
    border: 1px solid black;
    height: 500px;
    flex:1;
    background-color:white;
    overflow-y: scroll
}

#messages {
    border: 1px solid black;
    height: 500px;
    flex:1;
    background-color:white;
    overflow-y: scroll
}